.hiraku-open-btn {
	background: transparent;
	background: #fff;
	border: 1px solid #fff;
	padding: .5rem;
	font-size: .875rem;
	cursor: pointer;
	border-radius: $border-radius-sm;
	line-height: 1;
}

.hiraku-open-btn-line {
	display: inline-block;
	position: relative;
	width: 1rem;
	height: .125rem;
	top: -.1em;
	background-color: $gray-dark;
	border-radius: .0625rem;
	transition: .1s all;
	vertical-align: middle;
}

.hiraku-open-btn-line:before,
.hiraku-open-btn-line:after {
	content: "";
	display: block;
	position: absolute;
	background-color: $gray-dark;
	width: 100%;
	height: .125rem;
	border-radius: .0625rem;
	transition: .3s all;
}

.hiraku-open-btn-line:before {
	top: -.375rem;
}

.hiraku-open-btn-line:after {
	bottom: -.375rem;
}

.hiraku-open-btn-label {
	display: inline-block;
	margin-left: .125rem;
	font-size: .75rem;
	font-family: $font-family-02;
	font-weight: $font-weight-02;
	vertical-align: middle;
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line {
	background-color: transparent;
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line:before {
	top: 0;
	transform: rotate(-45deg);
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line:after {
	bottom: 0;
	transform: rotate(45deg);
}
