.hiraku-open-btn {
	background: transparent;
	background: #fff;
	border: 1px solid #fff;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	border-radius: $border-radius-sm;
	line-height: 1;
}

.hiraku-open-btn-line {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 2px;
	top: -1px;
	background-color: $gray-dark;
	border-radius: 1px;
	transition: .1s all;
	vertical-align: middle;
}

.hiraku-open-btn-line:before,
.hiraku-open-btn-line:after {
	content: "";
	display: block;
	position: absolute;
	background-color: $gray-dark;
	width: 100%;
	height: 2px;
	border-radius: 1px;
	transition: .3s all;
}

.hiraku-open-btn-line:before {
	top: -6px;
}

.hiraku-open-btn-line:after {
	bottom: -6px;
}

.hiraku-open-btn-label {
	display: inline-block;
	margin-left: 2px;
	font-size: 12px;
	font-family: $font-family-02;
	font-weight: $font-weight-02;
	vertical-align: middle;
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line {
	background-color: transparent;
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line:before {
	top: 0;
	transform: rotate(-45deg);
}

.hiraku-open-btn[aria-expanded="true"] .hiraku-open-btn-line:after {
	bottom: 0;
	transform: rotate(45deg);
}
