// Spacing
// -----------------------------------------

// Rhythm : 10px
$spacer:                     .625rem !default;


// Colors
// -----------------------------------------

$gray-dark:                 #333333 !default;
$gray:                      #666666 !default;
$gray-light:                #999999 !default;
$gray-lighter:              #cccccc !default;
$gray-lightest:             #eeeeee !default;

$first:                     #4499ee !default;
$first-text:                #2288bb !default;
$second:                    $gray-dark !default;
$second-text:               $gray-dark !default;
$third:                     #55B677 !default;
$third-text:                #229644 !default;

$important:                 #dd4455 !default;
$important-text:            #dd0022 !default;

$faded:                     #eef1f2 !default;
$faded-first:               #e9f9ff !default;
$faded-second:              $faded !default;
$faded-third:               #ecf9f0 !default;
$faded-important:           #ffe9ee !default;

$body-bg:                   white !default;
$body-color:                $gray-dark !default;


// Buttons
// -----------------------------------------

$btn-first-color:           white !default;
$btn-first-bg:              $first !default;
$btn-first-border:          $first !default;

$btn-first-outline-color:   $first !default;
$btn-first-outline-bg:      white !default;
$btn-first-outline-border:  lighten($first, 15%) !default;

$btn-second-color:          white !default;
$btn-second-bg:             $second !default;
$btn-second-border:         $second !default;

$btn-second-outline-color:      $second !default;
$btn-second-outline-bg:         white !default;
$btn-second-outline-border:     $gray-lightest !default;

$btn-third-color:               white !default;
$btn-third-bg:                  $third !default;
$btn-third-border:              $third !default;

$btn-third-outline-color:       $third !default;
$btn-third-outline-bg:          white !default;
$btn-third-outline-border:      lighten($third, 15%) !default;

$btn-important-color:           white !default;
$btn-important-bg:              $important !default;
$btn-important-border:          $important !default;

$btn-important-outline-color:   $important !default;
$btn-important-outline-bg:      white !default;
$btn-important-outline-border:  lighten($important, 15%) !default;

$btn-padding-x-sm:          .5rem !default;
$btn-padding-y-sm:          .25rem !default;

$btn-padding-x:             .5rem !default;
$btn-padding-y:             .375rem !default;

$btn-padding-x-lg:          1rem !default;
$btn-padding-y-lg:          .5rem !default;

$btn-padding-x-xl:          2rem !default;
$btn-padding-y-xl:          .75rem !default;


// Typography
// -----------------------------------------

// Font Mapping

@mixin font-face-mapping() {

  /* thanks: https://speakerdeck.com/tacamy/modanri-ben-yu-huontozhi-ding */

  @font-face {
    font-family: 'PGYuGothic';
    font-weight: normal;
    src: local('YuGothic-Medium'),
         local('Yu Gothic Medium'),
         local('YuGothic-Regular');
  }
  @font-face {
    font-family: 'PGYuGothic';
    font-weight: bold;
    src: local('YuGothic-Bold'),
         local('Yu Gothic');
  }

  @import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');
}

// Fonts
$font-family-base:          '-apple-system', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif !default;
$font-weight:               300 !default;
$font-weight-bold:          700 !default;

$font-family-sans:          '-apple-system', 'Roboto', 'Open Sans', 'Arial', 'Helvetica', sans-serif !default;
$font-family-mono:          'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace !default;

// Design fonts

// 01.body
$font-family-01:            'PGYuGothic', 'YuGothic', -apple-system, BlinkMacSystemFont, 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif !default;
$font-weight-01:            400 !default;
$font-weight-bold-01:       $font-weight-bold !default;

// 02.heading
// $font-family-02:            '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', 'HiraMinProN-W3', "HGS明朝E", 'ＭＳ Ｐ明朝', 'MS PMincho', serif !default;
$font-family-02:            'Oxygen', '-apple-system', 'Roboto', 'Open Sans', 'Arial', 'Helvetica', sans-serif !default;
$font-weight-02:            300 !default;
$font-weight-bold-02:       $font-weight-bold !default;

// 03.date, number, new-icon
$font-family-03:            'Oxygen', '-apple-system', 'Roboto', 'Open Sans', 'Arial', 'Helvetica', sans-serif !default;
$font-weight-03:            300 !default;
$font-weight-bold-03:       $font-weight-bold !default;

// 04.mainvisual
$font-family-04:            'Oxygen', '-apple-system', 'Roboto', 'Open Sans', 'Arial', 'Helvetica', sans-serif !default;
$font-weight-04:            400 !default;
$font-weight-bold-04:       $font-weight-bold !default;

$font-size-root:            1rem !default;
$font-size-xxs:             .625rem !default;
$font-size-xs:              .75rem !default;
$font-size-sm:              .875rem !default;
$font-size-lg:              1.125rem !default;
$font-size-xl:              1.25rem !default;
$font-size-xxl:             1.5rem !default;

$line-height:               1.75 !default;
$line-height-md:            1.5 !default;
$line-height-sm:            1.25 !default;
$line-height-xs:            1 !default;


// Links
// -----------------------------------------

$link-color:                 $first-text !default;
$link-hover-color:           $first !default;


// Border
// -----------------------------------------

$border-width:               1px !default;
$border-color:               $gray-lighter !default;


// Radius
// -----------------------------------------

$border-radius-sm:           .125rem;
$border-radius:              .125rem;
$border-radius-lg:           .25rem;
$border-radius-xl:           .375rem;


// Grid
// -----------------------------------------

$grid-breakpoints: (
  // More Extra small screen / iPhone 6SE
  xss: 0,
  // Extra Small screen / iPhone 7
  xs: 375px,
  // Small screen / iPhone 7 Plus, Nexus 7
  sm: 425px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1024px,
  // Extra large screen / wide desktop
  xl: 1280px
) !default;

$container-max-widths: (
  md: 680px,
  lg: 1040px,
  xl: 1200px
) !default;

$grid-columns:               12 !default;
$grid-gutter-width:          1.25rem !default;

