@charset "utf-8";

@import "_variables";
@import "_mixin";

// ----------------------------
// common
// ----------------------------

// - Structure
// - Utility
// - Color
// - Grid
// - Button
// - Nav
// - Label
// - Badge
// - Form
// - Spacing

// - Theme Styles

@include font-face-mapping();

// Structure
// ----------------------------

* {
  box-sizing: border-box;
}

html {
  font-family: $font-family-01;
  font-size: $font-size-root;

  @include media-breakpoint-down(xs) {
    font-size: ($font-size-root * .875);
  }

  @include media-breakpoint-down(xss) {
    font-size: ($font-size-root * .75);
  }

  @include media-breakpoint-up(xl) {
    font-size: ($font-size-root * 1.125);
  }

}

body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-weight: $font-weight-01;
  line-height: $line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }

}

b, dt, optgroup, strong {
  font-weight: $font-weight-bold;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
}

h1, .h1 {
  margin: ($spacer * 4) 0 ($spacer * 2);
  font-size: 1.75rem;
}

h2, .h2 {
  margin: ($spacer * 4) 0 ($spacer * 2);
  font-size: 1.5rem;
  font-family: $font-family-02;
  font-weight: $font-weight-bold-02;
}

h3, .h3 {
  margin: ($spacer * 4) 0 ($spacer * 2);
  font-size: 1.375rem;
}

h4, .h4 {
  margin: ($spacer * 3) 0 ($spacer * 1.5);
  font-size: 1.25rem;
  font-family: $font-family-02;
  font-weight: $font-weight-bold-02;
}

h5, .h5 {
  margin: ($spacer * 3) 0 ($spacer * 1.5);
  font-size: 1.125rem;
}

h6, .h6 {
  margin: ($spacer * 3) 0 ($spacer * 1.5);
  font-size: 1rem;
  font-family: $font-family-02;
  font-weight: $font-weight-bold-02;
}


// Utility
// ----------------------------

.clearfix {
  &:after {
    clear: both;
    display: table;
    content: " ";
  }
  &:before {
    display: table;
    content: " ";
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable {
  &:active, &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

// 包括コンテナの幅を無視して幅いっぱいに広げる

.container-full {
  min-height: 1px;
  margin-left: -5000px;
  margin-right: -5000px;
  padding-left: 5000px;
  padding-right: 5000px;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

}


// Color
// ----------------------------

.text-muted {
  color: $gray-light;
}

.text-first {
  color: $first-text;
}

.text-second {
  color: $second-text;
}

.text-third {
  color: $third-text;
}

.text-important {
  color: $important-text;
}


// Grid
// ----------------------------

.container {
  @include make-container();

  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }
  }
}

.container-fluid {
  @include make-container();
}

.row {
  @include make-row();
}

@include make-grid-columns();



// Button
// ----------------------------

.btn {
  font-size: $font-size-root;
  font-family: $font-family-01;
  font-weight: $font-weight-01;
  border: $border-width solid transparent;
  padding: $btn-padding-y $btn-padding-x;
  line-height: $line-height-xs;
  border-radius: $border-radius;
  vertical-align: middle;

  span#{&} {

    &:hover,
    &:focus {
      cursor: default;
    }

  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    text-decoration: none;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    cursor: default;
    opacity: .65;
  }
}

a.btn.disaabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-first {
  @include button-variant(
    $btn-first-color,
    $btn-first-bg,
    $btn-first-border,
    lighten($btn-first-bg, 10%),
    lighten($btn-first-border, 10%),
    lighten($btn-first-bg, 10%),
    lighten($btn-first-border, 10%)
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-first-bg;
    }

  }

}

.btn-first-outline {
  @include button-variant(
    $btn-first-outline-color,
    $btn-first-outline-bg,
    $btn-first-outline-border,
    $faded-first,
    $btn-first-outline-border,
    $faded-first,
    $btn-first-outline-border
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-first-outline-bg;
    }

  }

}

.btn-second {
  @include button-variant(
    $btn-second-color,
    $btn-second-bg,
    $btn-second-border,
    lighten($btn-second-bg, 10%),
    lighten($btn-second-border, 10%),
    lighten($btn-second-bg, 10%),
    lighten($btn-second-border, 10%)
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-second-bg;
    }

  }

}

.btn-second-outline {
  @include button-variant(
    $btn-second-outline-color,
    $btn-second-outline-bg,
    $btn-second-outline-border,
    $faded,
    $btn-second-outline-border,
    $faded,
    $btn-second-outline-border
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-second-outline-bg;
    }

  }

}

.btn-third {
  @include button-variant(
    $btn-third-color,
    $btn-third-bg,
    $btn-third-border,
    lighten($btn-third-bg, 10%),
    lighten($btn-third-border, 10%),
    lighten($btn-third-bg, 10%),
    lighten($btn-third-border, 10%)
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-third-bg;
    }

  }

}

.btn-third-outline {
  @include button-variant(
    $btn-third-outline-color,
    $btn-third-outline-bg,
    $btn-third-outline-border,
    lighten($btn-third-outline-color, 40%),
    $btn-third-outline-border,
    lighten($btn-third-outline-color, 40%),
    $btn-third-outline-border
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-third-outline-bg;
    }

  }

}

.btn-important {
  @include button-variant(
    $btn-important-color,
    $btn-important-bg,
    $btn-important-border,
    lighten($btn-important-bg, 10%),
    lighten($btn-important-border, 10%),
    lighten($btn-important-bg, 10%),
    lighten($btn-important-border, 10%)
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-important-bg;
    }

  }

}

.btn-important-outline {
  @include button-variant(
    $btn-important-outline-color,
    $btn-important-outline-bg,
    $btn-important-outline-border,
    $faded-important,
    $btn-important-outline-border,
    $faded-important,
    $btn-important-outline-border
  );

  span#{&} {

    &:hover,
    &:focus {
      background-color: $btn-important-outline-bg;
    }

  }

}


.btn-inverse {
  @include button-variant(
    #fff,
    transparent,
    #fff,
    rgba(255,255,255,.5),
    #fff,
    rgba(255,255,255,.5),
    #fff
  );


  span#{&} {

    &:hover,
    &:focus {
      background-color: rgba(255,255,255,.5);
    }

  }

}


.btn-block {
  display: block;
  width: 100%;
  max-width: 480px; 
  margin: 0 auto;
  padding-left: .5rem;
  padding-right: .5rem;
}


.btn-sm {
  padding: $btn-padding-y-sm $btn-padding-x-sm;
  font-size: $font-size-xs;
  border-radius: $border-radius-sm;
}

.btn-lg {
  padding: $btn-padding-y-lg $btn-padding-x-lg;
  border-radius: $border-radius-lg;
}

.btn-xl {
  padding: $btn-padding-y-xl $btn-padding-x-xl;
  font-size: $font-size-lg;
  border-radius: $border-radius-xl;
}


// Nav
// ----------------------------

.nav-vertical {

  nav {

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        line-height: $line-height-sm;
        letter-spacing: normal;
        list-style-type: none;

        a {
          display: block;
          padding: .5rem 0;
          color: $gray-dark;
          text-decoration: none;
          
          &:hover,
          &.stay {
            background-color: $faded-second;
            color: $gray-dark;
            text-decoration: none;
          }

        }

        ul {
          padding-left: 1rem;
        }

      }

    }

  }
  
}

.nav-horizontal {

  nav {

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      
      li {
        margin: 0;
        padding: 0;
      }

    }

    > ul {
      letter-spacing: -.4rem;

      > li {
        position: relative;
        display: inline-block;
        line-height: $line-height-sm;
        letter-spacing: normal;

        a {
          display: inline-block;
          padding: .5rem 1rem;
          color: $gray-dark;
          text-decoration: none;
          
          &:hover,
          &.stay {
            background-color: $faded-second;
            color: $gray-dark;
            text-decoration: none;
          }

        }

        > ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          min-width: 100%;
          max-width: 120%;

          > li {
            display: block;
            border-style: solid;
            border-width: 0 1px 1px;
            border-color: transparent $gray-dark $gray-dark; 
            
            &:first-child {
              border-top: 1px solid $gray-dark;
            }

            > a {
              display: block;
              width: 100%;
              padding: .25rem 0;
              text-align: center;
            }

          }
          

        }
        
        &:hover {

          > ul {
            display: block;
          }

        }

      }

    }

  }
  
}


// Label
// ----------------------------

.label {
  display: inline-block;
  margin-right: .5em;
  padding: .25em .5rem;
  background-color: rgba(255,255,255,.7);
  font-size: .75em;
  line-height: $line-height-xs;
  color: $gray;
  border: 1px solid $gray;
}


// Badge
// ----------------------------

.badge {
  display: inline-block;
  min-width: 2em;
  margin-left: .5em;
  padding: .25em;
  font-size: $font-size-sm;
  line-height: $line-height-xs;
  color: #fff;
  background-color: $gray-light;
  text-align: center;
  
  .nav-horizontal ul li & {
    float: right;
  }

}


// Form
// ----------------------------

.form-control {
  display: block;
  width: 100%;
  padding: .25rem .1rem;
  font-size: 1rem;
  font-family: $font-family-base;
  line-height: $line-height-xs;
  color: $gray-dark;
  background-color: #fff;
  background-image: none;
  border: 1px solid $gray-dark;

  &[type="search"],
  &[type="text"],
  &[type="password"],
  &[type="date"],
  &[type="tel"] {
    -webkit-appearance: textfield;
  }

  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::placeholder {
    color: $gray-light;
    opacity: 1;
  }

  &:disabled,
  &[readonly],
  fieldset[disabled] & {
    background-color: $gray-light;
    opacity: 1;
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }
}

textarea.form-control {
  font-family: $font-family-mono;
  line-height: $line-height;
}

.form-control-file,
.form-control-range {
  display: block;
}

.form-control-label {
  padding: .25rem;
  margin-bottom: 0;
}

.form-control-static {
  min-height: 2rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  margin-bottom: 0;

  &.form-control-sm,
  &.form-control-lg {
    padding-right: 0;
    padding-left: 0;
  }
}

.form-control-sm {
  padding: .1rem;
  font-size: .875rem;
}

.form-control-lg {
  padding: .375rem;
  font-size: 1.25rem;
  line-height: $line-height-sm;
}

.form-group {
  margin-bottom: 2rem;
}

.radio,
.checkbox {
  position: relative;
  display: block;
  margin-bottom: .5rem;

  label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;

    input:only-child {
      position: static;
    }

  }

}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: -.25rem;
}

.radio-inline,
.checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 1.25rem;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: .75rem;
}

input[type="radio"],
input[type="checkbox"] {

  &:disabled,
  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
  }

}

.radio-inline,
.checkbox-inline {

  &.disabled,
  fieldset[disabled] & {
    cursor: not-allowed;
  }

}

.radio,
.checkbox {

  &.disabled,
  fieldset[disabled] & {

    label {
      cursor: not-allowed;
    }

  }

}

.has-error {
  
  .form-control {
    color: $important-text;
    background-color: $faded-important;
  }

}

.form-inline {

  @include media-breakpoint-up(sm) {

    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }

    .form-control-static {
      display: inline-block;
    }

    .input-group {
      display: inline-table;
      vertical-align: middle;

      .input-group-addon,
      .input-group-btn,
      .form-control {
        width: auto;
      }
    }

    .input-group > .form-control {
      width: 100%;
    }

    .control-label {
      margin-bottom: 0;
      vertical-align: middle;
    }

    .radio,
    .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;

      label {
        padding-left: 0;
      }

    }

    .radio input[type="radio"],
    .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
    }

    .has-feedback .form-control-feedback {
      top: 0;
    }

  }

}


// Spacing
// ----------------------------

// Margin

.m-a-0 { margin:        0 !important; }
.m-t-0 { margin-top:    0 !important; }
.m-r-0 { margin-right:  0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left:   0 !important; }
.m-x-0 { margin-right:  0 !important; margin-left:   0 !important; }
.m-y-0 { margin-top:    0 !important; margin-bottom: 0 !important; }

.m-a { margin:        $spacer !important; }
.m-t { margin-top:    $spacer !important; }
.m-r { margin-right:  $spacer !important; }
.m-b { margin-bottom: $spacer !important; }
.m-l { margin-left:   $spacer !important; }
.m-x { margin-right:  $spacer !important; margin-left: $spacer !important; }
.m-y { margin-top:    $spacer !important; margin-bottom: $spacer !important; }
.m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.m-a-md { margin:        ($spacer * 1.5) !important; }
.m-t-md { margin-top:    ($spacer * 1.5) !important; }
.m-r-md { margin-right:  ($spacer * 1.5) !important; }
.m-b-md { margin-bottom: ($spacer * 1.5) !important; }
.m-l-md { margin-left:   ($spacer * 1.5) !important; }
.m-x-md { margin-right:  ($spacer * 1.5) !important; margin-left:   ($spacer * 1.5) !important; }
.m-y-md { margin-top:    ($spacer * 1.5) !important; margin-bottom: ($spacer * 1.5) !important; }

.m-a-lg { margin:        ($spacer * 3) !important; }
.m-t-lg { margin-top:    ($spacer * 3) !important; }
.m-r-lg { margin-right:  ($spacer * 3) !important; }
.m-b-lg { margin-bottom: ($spacer * 3) !important; }
.m-l-lg { margin-left:   ($spacer * 3) !important; }
.m-x-lg { margin-right:  ($spacer * 3) !important; margin-left:   ($spacer * 3) !important; }
.m-y-lg { margin-top:    ($spacer * 3) !important; margin-bottom: ($spacer * 3) !important; }

.m-a-xl { margin:        ($spacer * 4.5) !important; }
.m-t-xl { margin-top:    ($spacer * 4.5) !important; }
.m-r-xl { margin-right:  ($spacer * 4.5) !important; }
.m-b-xl { margin-bottom: ($spacer * 4.5) !important; }
.m-l-xl { margin-left:   ($spacer * 4.5) !important; }
.m-x-xl { margin-right:  ($spacer * 4.5) !important; margin-left:   ($spacer * 4.5) !important; }
.m-y-xl { margin-top:    ($spacer * 4.5) !important; margin-bottom: ($spacer * 4.5) !important; }

// Padding

.p-a-0 { padding:        0 !important; }
.p-t-0 { padding-top:    0 !important; }
.p-r-0 { padding-right:  0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left:   0 !important; }
.p-x-0 { padding-left:   0 !important; padding-right: 0 !important; }
.p-y-0 { padding-top:    0 !important; padding-bottom: 0 !important; }

.p-a { padding:        $spacer !important; }
.p-t { padding-top:    $spacer !important; }
.p-r { padding-right:  $spacer !important; }
.p-b { padding-bottom: $spacer !important; }
.p-l { padding-left:   $spacer !important; }
.p-x { padding-right:  $spacer !important; padding-left:   $spacer !important; }
.p-y { padding-top:    $spacer !important; padding-bottom: $spacer !important; }

.p-a-md { padding:        ($spacer * 1.5) !important; }
.p-t-md { padding-top:    ($spacer * 1.5) !important; }
.p-r-md { padding-right:  ($spacer * 1.5) !important; }
.p-b-md { padding-bottom: ($spacer * 1.5) !important; }
.p-l-md { padding-left:   ($spacer * 1.5) !important; }
.p-x-md { padding-right:  ($spacer * 1.5) !important; padding-left:   ($spacer * 1.5) !important; }
.p-y-md { padding-top:    ($spacer * 1.5) !important; padding-bottom: ($spacer * 1.5) !important; }

.p-a-lg { padding:        ($spacer * 3) !important; }
.p-t-lg { padding-top:    ($spacer * 3) !important; }
.p-r-lg { padding-right:  ($spacer * 3) !important; }
.p-b-lg { padding-bottom: ($spacer * 3) !important; }
.p-l-lg { padding-left:   ($spacer * 3) !important; }
.p-x-lg { padding-right:  ($spacer * 3) !important; padding-left:   ($spacer * 3) !important; }
.p-y-lg { padding-top:    ($spacer * 3) !important; padding-bottom: ($spacer * 3) !important; }

.p-a-xl { padding:        ($spacer * 4.5) !important; }
.p-t-xl { padding-top:    ($spacer * 4.5) !important; }
.p-r-xl { padding-right:  ($spacer * 4.5) !important; }
.p-b-xl { padding-bottom: ($spacer * 4.5) !important; }
.p-l-xl { padding-left:   ($spacer * 4.5) !important; }
.p-x-xl { padding-right:  ($spacer * 4.5) !important; padding-left:   ($spacer * 4.5) !important; }
.p-y-xl { padding-top:    ($spacer * 4.5) !important; padding-bottom: ($spacer * 4.5) !important; }





// Theme Styles
// ----------------------------

#header {
  padding: $spacer 0;

  .header-logo {
    float: left;
    margin: 0;
    text-align: center;
    font-size: 24px;
    line-height: 1;

     img {
      position: relative;
      top: 3px;
      vertical-align: middle;
     }

  }

}

.global-nav {
  float: right;
  margin-right: -1rem;
  
  nav > ul > li {
    font-size: $font-size-sm;

    a {
      padding-left: 1rem;
      padding-right: 1rem;
        
      &:hover,
      &.stay {
        background-color: rgba(255,255,255,.5);
      }

    }

  }

}

.mainvisual {
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .mainvisual-contents {

    .mainvisual-slide {
      position: relative;
      background-color: #000;
      max-height: 760px;

      img.mainvisual-img {
        position: relative;
        z-index: 201;
      }

      a {
        display: block;
        color: $gray-dark;
        text-decoration: none;
      }

      .mainvisual-box {
        display: table;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
        width: 70%;
        max-width: 300px;
        min-height: 280px;
        padding: 30px;
        background-color: rgba(255,255,255,.25);
        z-index: 203;

        .mainvisual-box-inner {
          display: table-cell;
          position: relative;
          background-color: rgba(255,255,255,.75);
          vertical-align: top;
        }

      }

      .mainvisual-title {
        position: absolute;
        left: 0;
        bottom: 50%;
        width: 100%;
        margin: 0;
        font-size: 2rem;
        font-family: $font-family-02;
        font-weight: $font-weight-02;
        text-align: center;
        letter-spacing: .1rem;
      }

      .mainvisual-body {
        position: absolute;
        left: 0;
        top: 60%;
        width: 100%;
        margin: 0;
        padding: 0 15px;
        font-size: .875rem;
        text-align: center;
        line-height: 1.75;
      }

    }

  }

}

.header-wrap {
  position: relative;

  #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 100;
  }

  .mainvisual {
    position: relative;
    z-index: 99;
  }

}



#main {
  padding: 0 0 ($spacer * 4.5);

  .view-top & {
    padding: 0;
  }

}

#sub {
  padding: 0 0 ($spacer * 4.5);
}

@include media-breakpoint-up(md) {

.flex-col-2 {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  #main {
    flex: 1;
    width: auto;
  }

  #sub {
    width: 300px;
  }

}

}



#footer {
  padding: 2rem 2rem 4rem;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: $gray-dark;
  text-align: center;
}


.section {
  padding: ($spacer * 4.5) 0;

  .section-header {
    padding: 0 0 ($spacer * 3);
    @include clearfix();
  }

  .section-title {
    margin: 0;
    font-size: 2rem;
    font-family: $font-family-02;
    font-weight: $font-weight-02;
    text-align: center;
    letter-spacing: .1rem;
  }

  .section-subtitle {
    margin: .5rem 0 0;
    font-size: .75rem;
    text-align: center;
    letter-spacing: .1rem;
  }

  .section-caption {
    margin: 1.5rem 0 0;
    text-align: center;
  }

  .section-footer {
    padding: ($spacer * 1.5) 0 0;
    @include clearfix();
  }

  .section-link {
    margin: 0;
    text-align: center;
  }

  #sub & {

    margin: 0 0 ($spacer * 3);

    .section-header {
      padding: 0 0 $spacer;
    }

    .section-title {
      margin: 0;
      font-size: 1.25rem;
      text-align: left;
      letter-spacing: 0;
    }

    .section-footer {
      padding: $spacer 0 0;
    }

    .section-link {
      margin: 0;
    }

  }

}


.page-header {
  margin: 0 0 2rem;
  padding: 2rem $grid-gutter-width;
  background: $gray-dark none no-repeat center center;
  background-size: cover;
  color: $gray-lightest;

  .page-header-title {
    margin: 0;
    line-height: $line-height-sm;
    color: $gray-lightest;
    font-size: 1.375rem;
    text-align: center;
  }

  .page-header-caption {
    margin: 1rem 0 0;
    line-height: $line-height-sm;
    color: $gray-lighter;
    font-size: 1rem;
    text-align: center;
  }
	
  &.page-header-light {
    border-bottom: 1px solid $gray-dark;
    background-color: transparent;
    color: $gray-dark;

    .page-header-title {
      color: $gray-dark;
    }

    .page-header-caption {
      color: $gray-light;
    }

  }

}

.archive-header {
  margin: -2rem 0 2rem;
  padding: 1rem;
  border-bottom: 1px solid $gray-dark;
  text-align: center;

  .archive-title {
    margin: 0;
  }

}


.post {
  display: block;
  margin-bottom: ($spacer * 3);
}

.summary {
  position: relative;
  margin-bottom: ($spacer * 3);
  background-color: #fff;

  > a {
    display: block;
    position: relative;
    color: $gray-dark;

    .summary-title {
      color: $first-text;
      text-decoration: underline;
    }

    .btn,
    .badge {
      color: #fff;
    }

    &:hover,
    &:focus {
      color: $gray-dark;
      background-color: $faded;
      text-decoration: none;

      .summary-img,
      .summary-cover {
        opacity: .7;
      }

      .summary-title {
        color: $first-text;
        text-decoration: none;
      }

      .btn,
      .badge {
        color: #fff;
      }

    }

  }

  .summary-inner {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  .summary-img {
    width: 33.33333333%;
    background-color: $gray-lightest;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

  }

  .summary-cover {
    width: 33.33333333%;
    background: $gray-lightest none no-repeat center center;
    background-size: cover;
    border: 1px solid $gray-lightest;
  }

  .summary-contents {
    position: relative;
    flex: 1;
    font-size: .75rem;
    line-height: $line-height-sm;
    padding: $spacer $spacer ($spacer * 2);

    time {
      display: block;
      margin: 0 0 .5rem;
    }

    p {
      margin: 0 0 .5rem;

      &.summary-btn {
        margin: 0;
      }

    }

  }

  .summary-new {
    position: absolute;
    margin: 0;
    top: 8px;
    left: -2px;
    line-height: $line-height-xs;
    z-index: 13;

    .badge {
      margin: 0;
      padding: ($spacer / 2) $spacer;
      background-color: $first;
      font-size: .625rem;
      text-transform: uppercase;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
    }

  }

  .summary-title {
    margin: 0 0 .5rem;
    font-size: .875rem;
    line-height: $line-height-md;
    word-break: break-all;
  }

  .summary-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
  }

}


.card {
  position: relative;
  margin-bottom: $grid-gutter-width;
  background-color: #fff;
  color: $gray-dark;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .35);

  .card-cover {
    position: relative;
    width: 100%;
    height: 200px;
    background: $gray-dark none no-repeat center center;
    background-size: cover;
    z-index: 11;
  }

  > a {
    position: relative;
    display: block;
  }

  a:not(.btn),
  a:not(.label),
  a:not(.badge) {
    color: $gray-dark;
    
    &:hover,
    &:focus {
      color: $gray-dark;
      text-decoration: none;
    }

  }

  .card-contents {
    position: relative;
    padding: $spacer ($spacer * 2);
//    min-height: 150px;
    line-height: $line-height;
    z-index: 12;

    time {
      display: block;
      margin: 0 0 .5rem;
      font-size: .75rem;
    }

    p {
      margin: 0 0 .5rem;
      font-size: .75rem;
    }

  }

  .card-new {
    position: absolute;
    margin: 0;
    top: -3px;
    right: $spacer;
    line-height: $line-height-xs;
    z-index: 13;

    .badge {
      background-color: $first;
      padding: $spacer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .35);
    }

  }

  .card-title {
    font-size: 1rem;
    margin: 0 0 .5rem;
    line-height: $line-height;
    word-break: break-all;
  }

}

.pager {
  padding: ($spacer * 3) 0 0;
  text-align: center;
}

.serial-nav {
  padding: ($spacer * 3) 0;

  nav {

    ul {
      width: 100%;
      @include clearfix();

      li.prev {
        float: left;
        width: 48%;
      }

      li.next {
        float: left;
        width: 48%;
      }

    }

  }

}

.share {
  margin: 0;
  padding: ($spacer * 3) 0;
  @include clearfix();

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: -.4rem;
    line-height: $line-height-xs;

    li {
      display: inline-block;
      margin: 0;
      padding: 0 .5rem;
      letter-spacing: normal;
    }

  }

}


.imgtext {
  position: relative;
  width: 100%;
  background: #000;
  color: $gray-lightest;

  > a {
    display: block;

    &:link,
    &:visited {
      color: $gray-lightest;

      .imgtext-title {
        text-decoration: underline;
      }

    }

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;

      .imgtext-img > img {
        opacity: .8;
      }

      .imgtext-title {
        text-decoration: none;
      }

    }

  }

  .imgtext-img {
    position: relative;
    width: 100%;

    > img {
      width: 100%;
      height: auto;
    }
    z-index: 11;
  }

  .imgtext-contents {
    position: relative;
    margin-top: -100px;
    font-size: .875rem;
    line-height: 1.5;
    z-index: 12;
  }

  .imgtext-title {
    margin: 0;
    padding: 50px ($spacer * 2) ($spacer * 2);
    font-size: 1.25rem;
    font-family: $font-family-01;
    font-weight: $font-weight;
    line-height: $line-height-sm;
    letter-spacing: .1em;
    text-align: center;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.37) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.37) 50%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 30%, gba(0,0,0,0.37) 50%,rgba(0,0,0,1) 100%);
  }

  .imgtext-body {
    margin: 0;
    padding: 1px ($spacer * 2) ($spacer * 2);
    font-size: .75rem;
    line-height: $line-height-md;
    text-align: center;
    background: #000;
  }

}




